@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.parent1{
    background: #EBEBEB;
    padding: 50px;
    border-radius: 50px;
    height: 200%;
    box-shadow: 0px -60px 0px -30px #ffffff40 ;
    width: 100%;
}
.frame1{
    display: flex;
    align-items: center;
}
body{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 100px;
    align-items: center;
    background: #AFAEB6;
    font-family: poppins;
    padding: 0 0 0 50px;
}
img{
    width:100%;
}
.container1{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    align-items: center;
    gap: 50px;
}
.img{
    width: 50px;
    padding:0 10px ;

}
.frame{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    border-radius: 20px;
    width: 80%;
    height: 200px;
    background: #EBEBEB;
    padding: 0 20px ; 
    margin: 10px 0;
}
.frame2{
    height: max-content;
    background: #000000;
    color: #FFFFFF;
    padding: 20px 0px 0px 20px ;
    border-radius: 35px;

}
.span1{

    font-size: 20px;
    font-weight: 600;
}
.miniframe{
    padding: 15px 0px 0px 50px; 
    font-size: 22px;
    font-weight: 600;

}
.line{
    width: 15px;
    background: #6bc4ad;
    height: 3px;
    margin-bottom: -12px;
}
.line1{
    width: 15px;
    height: 3px;
    background: #E89A62;
    margin-bottom: -10px;
}
.line3{
    margin-bottom: 10px;
}
.buttonframe{
    /* padding:0 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    font-family: Poppins;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #424FC0;
}
button{
    background: #000000;
    border-radius: 10px;
    padding: 5px 10px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
}
.backgrounddiv{
    background-color: #FFFFFF;
    opacity: .2;
    position: absolute;
    height: 780px;
    width: 33%;
    z-index: -1;
    right: 10.5%; 
    border-radius: 15px;
}
.p{
    padding: 10px 65px;
}
@media only screen and (max-width:1100px) {
    .backgrounddiv{
        right: 10%;
        width: 30%;
    }
}
@media only screen and (max-width:700px){
    .backgrounddiv{
        width: 70%;
        height: 100%;
        justify-content: center;
        left:15% ;
    }
    body{
      padding: 0;  
    }
    .line1{
        margin: 0;
    }
    .line{
        margin: 0;
    }
    .frame{
        margin: 10% auto;
    }
}